{% extends 'base.html' %}

{% block page_content %}
    <form method="POST">
        {% csrf_token %}

        <div class="question__counter">{{ current_question_number }} / {{ total_questions_number }}</div>

        <h1 class="question__text">{{ question.text }}</h1>

        {% if question.extra_text %}
            <div class="question__extra-text">{{ question.extra_text }}</div>
        {% endif %}

        {% if question.image %}
            <img class="question__img" src="{{ question.image.url }}" alt="Question image">
        {% endif %}

        {% if error %}
            <div class="question__error-msg">{{ error }}</div>
        {% endif %}

        <div class="question__answers-block">
            {% for answer in answers %}
                <div class="question__answer">
                    <input class="answer__radio-btn" type="radio" id="answer_{{ answer.id }}" name="answer" value="{{ answer.id }}">
                    <label class="answer__label" for="answer_{{ answer.id }}">
                        <div class="answer-label__checkbox answer-label__checkbox--passive"></div>
                        <svg class="answer-label__checkbox answer-label__checkbox--active" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                        <div class="answer-label__text">{{ answer.text }}</div>
                    </label>
                </div>
            {% endfor %}
        </div>

        <button class="question__btn" type="submit" name="prev" {% if current_question_number == 1 %}disabled{% endif %}>Назад</button>
        <button class="question__btn" type="submit" name="next">Вперёд</button>
    </form>
{% endblock %}
