{% extends 'base.html' %}

{% block page_content %}
    <div class="quiz-list">
        {% for quiz in quizzes %}
            <a class="quiz-list__element" href="{% url 'quiz' slug=quiz.slug %}">
                <h4 class="quiz-list-element__author">Автор: <span style="font-weight: 700;">{{ quiz.author.username }}</span></h4>
                <h2 class="quiz-list-element__name">{{ quiz.name }}</h2>
                <h3 class="quiz-list-element__description">{{ quiz.description }}</h3>
            </a>
        {% empty %}
            <div class="quiz-list__empty">Пока что открытых квизов нет :(. Но ты можешь создать свой!</div>
        {% endfor %}
    </div>
{% endblock %}
