{% extends 'base.html' %}

{% load static %}

{% block page_content %}
    {% if results_unlocked == results_total %}
        <script>
            confetti({
                particleCount: 100,
                spread: 70,
                origin: {y: 1},
            });
        </script>
    {% endif %}

    <h1 class="result__quiz_name">{{ quiz.name }}</h1>

    <div class="result__stats">
        Разблокирован{% if results_unlocked == 1 %}а{% else %}ы{% endif %} {{ results_unlocked }} из {{ results_total }} концовок
    </div>

    {% if result.image %}
        <img class="result__img" src="{{ result.image.url }}" alt="Result image">
    {% endif %}

    <h2 class="result__title">{{ result.title }}</h2>

    {% if result.description %}
        <div class="result__description">{{ result.description }}</div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <button class="result__btn" type="submit" name="restart">Пройти заново</button>
    </form>
{% endblock %}
