{% extends 'base.html' %}

{% block page_content %}
    <div class="quiz__author">Автор: <span style="font-weight: 700;">{{ quiz.author.username }}</span></div>

    <h1 class="quiz__name">{{ quiz.name }}</h1>

    {% if quiz.description %}
        <div class="quiz__description">{{ quiz.description }}</div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="start" class="quiz__btn">Начать</button>
    </form>
{% endblock %}
