{% load static %}

<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="stylesheet" href="{% static 'css/reset.css' %}?v=2"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=6"/>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>

    <script src="{% static 'js/confetti.js' %}"></script>

    <title>Квизибара</title>
</head>

<body>
    <header class="header">
        <nav class="header__navigation">
            <a class="header-navigation__element" href="{% url 'quizzes' %}">Все квизы</a>
            <a class="header-navigation__element" href="{% url 'create_quiz' %}">Создать свой квиз</a>
        </nav>
    </header>
    <main class="content">
        {% block page_content %}{% endblock %}
    </main>
    <footer class="footer">
        <div class="footer_copyright">&copy {% now 'Y' %}</div>
        <div class="footer__developer">Made by <a href="https://suleimanov.dev" target="_blank">lllumineux</a></div>
    </footer>
</body>

</html>
