{% extends 'admin/base_site.html' %}

{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static "css/admin.css" %}">
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} registration{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block content %}
    {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
            {% blocktranslate count counter=form.errors.items|length %}
                Please correct the error below.
                {% plural %}
                Please correct the errors below.
            {% endblocktranslate %}
        </p>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}

    <div id="content-main">

        {% if user.is_authenticated %}
            <p class="errornote">
                {% blocktranslate trimmed %}
                    You are authenticated as {{ username }}, but are not
                    authorized to
                    access this page. Would you like to login to a different
                    account?
                {% endblocktranslate %}
            </p>
        {% endif %}

        <form id="login" action="{% url 'admin:login' %}" method="GET"></form>

        <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
            <div class="form-row">
                {{ form.username.errors }}
                {{ form.username.label_tag }} {{ form.username }}
            </div>
            <div class="form-row">
                {{ form.password1.errors }}
                {{ form.password1.label_tag }} {{ form.password1 }}
            </div>
            <div class="form-row">
                {{ form.password2.errors }}
                {{ form.password2.label_tag }} {{ form.password2 }}
            </div>
            <div class="submit-row">
                <input type="submit" value="Зарегистрироваться">
                <input type="submit" form="login" value="{% translate 'Log in' %}">
            </div>
        </form>

    </div>
{% endblock %}

