@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 75px 100px;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 900px) {
    body {
        padding: 75px;
    }
}

@media (max-width: 600px) {
    body {
        padding: 25px;
    }
}

@media (max-width: 320px) {
    body {
        padding: 10px;
    }
}

.header {
    display: flex;
    align-items: center;
}

.header-navigation__element {
    margin-left: 50px;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .header-navigation__element {
        margin-left: 25px;
    }
}

@media (max-width: 320px) {
    .header-navigation__element {
        font-size: 4.5vw;
    }
}

.header-navigation__element:first-child {
    margin-left: 0;
}

.content {
    flex: 1;
    margin-top: 100px;
}

@media (max-width: 320px) {
    .content {
        margin-top: 50px;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    font-size: 15px;
}

@media (max-width: 320px) {
    .footer {
        margin-top: 50px;
        font-size: 4.5vw;
    }
}

.footer__developer a {
    text-decoration: underline;
    color: #000;
}

/* Common */

.quiz__btn, .question__btn, .result__btn, .header-navigation__btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 320px) {
    .quiz__btn, .question__btn, .result__btn, .header-navigation__btn {
        padding: 3vw 6vw;
        font-size: 4.5vw;
        border-radius: 5px;
    }
}

.quiz__btn:disabled, .question__btn:disabled, .result__btn:disabled {
    opacity: .5;
    cursor: default;
}

/* Quiz List */

.quiz-list__element {
    display: block;
    margin-top: 15px;
    padding: 25px 30px;
    max-width: 50%;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .quiz-list__element {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .quiz-list__element {
        margin-top: 12px;
        padding: 13px 15px;
    }
}

@media (max-width: 320px) {
    .quiz-list__element {
        margin-top: 9px;
        padding: 15px 10px;
    }
}

.quiz-list__element:first-child {
    margin-top: 0;
}

.quiz-list-element__author {
    font-size: 15px;
}

@media (max-width: 320px) {
    .quiz-list-element__author {
        font-size: 4.5vw;
    }
}

.quiz-list-element__name {
    margin-top: 10px;
    font-size: 26px;
    font-weight: 700;
}

@media (max-width: 600px) {
    .quiz-list-element__name {
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    .quiz-list-element__name {
        font-size: 6vw;
    }
}

.quiz-list-element__description {
    margin-top: 10px;
    font-size: 15px;
    color: #808080;
}

@media (max-width: 600px) {
    .quiz-list-element__description {
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    .quiz-list-element__description {
        font-size: 4.5vw;
    }
}

.quiz-list__empty {
    font-size: 15px;
    color: #808080;
}

/* Quiz */

.quiz__author {
    font-size: 15px;
}

@media (max-width: 320px) {
    .quiz__author {
        font-size: 4.5vw;
    }
}

.quiz__name {
    margin-top: 50px;
    font-size: 45px;
    font-weight: 700;
}

@media (max-width: 600px) {
    .quiz__name {
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    .quiz__name {
        font-size: 8vw;
    }
}

.quiz__description {
    margin-top: 10px;
    font-size: 18px;
    color: #808080;
}

@media (max-width: 320px) {
    .quiz__description {
        font-size: 4.5vw;
    }
}

.quiz__btn {
    margin-top: 50px;
}

/* Question */

.question__counter {
    font-size: 15px;
}

@media (max-width: 320px) {
    .question__counter {
        font-size: 4.5vw;
    }
}

.question__text {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
}

@media (max-width: 320px) {
    .question__text {
        font-size: 8vw;
    }
}

.question__extra-text {
    margin-top: 10px;
    font-size: 17px;
    color: #808080;
}

@media (max-width: 320px) {
    .question__extra-text {
        font-size: 4.5vw;
    }
}

.question__img {
    margin-top: 20px;
    max-height: 250px;
    max-width: 50%;
}

@media (max-width: 1200px) {
    .question__img {
        max-width: 100%;
    }
}

.question__error-msg {
    margin-top: 20px;
    font-size: 15px;
    color: #ff0000;
}

@media (max-width: 320px) {
    .question__error-msg {
        font-size: 4.5vw;
    }
}

.question__answers-block {
    margin-top: 20px;
}

.question__answer {
    margin-top: 6px;
}

.question__answer:first-child {
    margin-top: 0;
}

.answer__radio-btn {
    display: none;
}

.answer__radio-btn + .answer__label .answer-label__checkbox--passive {
    display: block;
}

.answer__radio-btn:checked + .answer__label .answer-label__checkbox--passive {
    display: none;
}

.answer__radio-btn + .answer__label .answer-label__checkbox--active {
    display: none;
}

.answer__radio-btn:checked + .answer__label .answer-label__checkbox--active {
    display: block;
}

.answer__label {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 50%;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .answer__label {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .answer__label {
        max-width: 100%;
        padding: 10px;
    }
}

.answer-label__checkbox {
    width: 15px;
    min-width: 15px;
    max-width: 15px;
    height: 15px;
    min-height: 15px;
    max-height: 15px;
    fill: #000;
    border-radius: 2px;
}

@media (max-width: 320px) {
    .answer-label__checkbox {
        width: 4.5vw;
        min-width: 4.5vw;
        max-width: 4.5vw;
        height: 4.5vw;
        min-height: 4.5vw;
        max-height: 4.5vw;
    }
}

.answer-label__checkbox--passive {
    box-sizing: border-box;
    border: 1px solid #000;
}

.answer-label__checkbox--active {
    box-shadow: inset 0 0 0 3px black;
}

.answer-label__text {
    font-size: 17px;
    margin-left: 10px;
}

@media (max-width: 320px) {
    .answer-label__text {
        font-size: 4.5vw;
        margin-left: 10px;
    }
}

/* Result */

.result__quiz_name {
    font-size: 45px;
    font-weight: 700;
}

@media (max-width: 600px) {
    .result__quiz_name {
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    .result__quiz_name {
        font-size: 8vw;
    }
}

.result__stats {
    margin-top: 10px;
    font-size: 15px;
    color: #808080;
}

@media (max-width: 320px) {
    .result__stats {
        font-size: 4.5vw;
    }
}

.result__title {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
}

@media (max-width: 320px) {
    .result__title {
        font-size: 8vw;
    }
}

.result__description {
    margin-top: 10px;
    font-size: 17px;
    color: #808080;
}

@media (max-width: 320px) {
    .result__description {
        font-size: 4.5vw;
    }
}

.result__img {
    margin-top: 50px;
    max-height: 250px;
    max-width: 50%;
}

@media (max-width: 1200px) {
    .result__img {
        max-width: 100%;
    }
}

.result__btn {
    margin-top: 50px;
}
